@import "tailwindcss";



@font-face {
    font-family: "Estedad VF";

    src: url("../src/FontEstedadVF/Estedad\ VF.woff2")format("woff2") ;
    src: url("./FontEstedadVF/Estedad\ VF.woff")format("woff"),
    url("./FontEstedadVF/Estedad\ VF.ttf")format("ttf"),
}
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Estedad VF"
}
.faq-section {
  width: 1200px;
  margin: 40px auto 0;
  text-align: center;
}

.faq-subtitle {
  color: #777;
  margin-bottom: 6px;
}

.faq-title {
  font-size: 32px;
  font-weight: bold;
}

.faq-title span {
  color: #f6b500;
}

.faq-content {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  margin-top: 80px;
  align-items: flex-start;
}

.faq-image {
  width: 380px;
  background: #f6b500;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.faq-image img {
  width: 220px;
}

.faq-list {
  flex: 1;
  text-align: right;
}

.faq-item {
  background: #fff;
  border-radius: 20px;
  padding: 22px 26px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

.faq-question {
   position: relative;
  padding-right: 30px;
}

.faq-question i {
   content: "+";
  position: absolute;
  right: 0;
  font-size: 22px;
  color: #aaa;
  transition: transform 0.3s, color 0.3s;
}

.faq-item.active .faq-question i {
    content: "-";
  color: #f6b500;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  margin-top: 14px;
  color: #666;
  font-size: 14px;
  line-height: 1.9;
  transition: max-height 0.5s ease;
}

.review-section {
  width: 900px;
  margin: 60px auto;
  text-align: center;
}

.review-subtitle {
  color: #777;
  margin-bottom: 6px;
}

.review-title {
  font-size: 32px;
  font-weight: bold;
}

.review-title span {
  color: #f6b500;
}

.review-cards {
  margin-top: 60px;
  position: relative;
}

.review-card {
  background: #fff;
  padding: 50px;
  border-radius: 32px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.07);
  display: none;
  transition: all 0.5s ease;
}

.review-card.active {
  display: block;
}

.review-card img {
  width: 90px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.review-card h4 {
  margin-bottom: 8px;
}

.stars {
  color: #f6b500;
  margin-bottom: 16px;
}

.review-card p {
  color: #666;
  line-height: 1.9;
  font-size: 14px;
}

.review-users {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 30px;
}

.review-users span {
  background: #eaeaea;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.review-users span.active {
  background: #f6b500;
  color: #fff;
}

